/* Fonts */

@font-face {
    font-family: BonvenoCF;
    src: url(../fonts/BonvenoCF/BonvenoCF-light.otf);
}

.spaced {
    margin: 10px;
}

.contact-icon a { 
    color: #8b8b8b;
    text-decoration: none ;
}

.contact-icon a:hover { 
    color: #5c5c5c;
}
/* Image Styling */

.avatar {
    width: 125px;
    border-radius: 125px;
    vertical-align: -90%;
}

/*Scrolling Tabs */ 

body {
	overflow:hidden;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'BonvenoCF', 'Myriad Pro', Arial, sans-serif;
}

.container > input,
.container > a {
    position: fixed;
    bottom: 0px;
    width: 20%;
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
}
 
.container > input {
    opacity: 0;
    z-index: 1000;
}
 
.container > a {
    z-index: 10;
    font-weight: 700;
    background: #9DDCF7;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(31, 36, 39, 0.2);
    text-decoration: none;
}

.container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    background: #9DDCF7;
    z-index: 9;
    bottom: 0;
}

#content-pos-1, #content-pos-1 + a {
    left: 0;
}
 
#content-pos-2, #content-pos-2 + a {
    left: 20%;
}
 
#content-pos-3, #content-pos-3 + a {
    left: 40%;
}
 
#content-pos-4, #content-pos-4 + a {
    left: 60%;
}
 
#content-pos-5, #content-pos-5 + a {
    left: 80%;
}

.container > input:checked + a,
.container > input:checked:hover + a {
    background: #3F8BAB;
}

.container > input:checked + a:after,
.container > input:checked:hover + a:after{
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #3F8BAB;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.container > input:hover + a{
    background: #7CC2E0;
}
 
.container > input:hover + a:after {
    border-bottom-color: #7CC2E0;
}

.scroll,
.content {
    position: relative;
    width: 100%;
    height: 100%;
}
 
.scroll {
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
     
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
 
.content{
    background: #fff;
    overflow: hidden;
} 

#content-pos-1:checked ~ .scroll {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);

}
#content-pos-2:checked ~ .scroll {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
#content-pos-3:checked ~ .scroll {
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
}
#content-pos-4:checked ~ .scroll {
    transform: translateY(-300%);
    -webkit-transform: translateY(-300%);

}
#content-pos-5:checked ~ .scroll {
    transform: translateY(-400%);
    -webkit-transform: translateY(-400%);

}

.top-triangle{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -100px;
    background: #7CC2E0;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);

}

.content h2 {
    color: #3F8BAB;
    position: absolute;
    font-size: 54px;
    font-weight: 900;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 50px;
    margin: -150px 0 0 0;
    padding: 0;
    top: 50%;
    -webkit-backface-visibility: hidden;
}

#content-pos-1:checked ~ .scroll #content-1 h2,
#content-pos-2:checked ~ .scroll #content-2 h2,
#content-pos-3:checked ~ .scroll #content-3 h2,
#content-pos-4:checked ~ .scroll #content-4 h2,
#content-pos-5:checked ~ .scroll #content-5 h2{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
 
@-webkit-keyframes moveDown{
    0% { 
        -webkit-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px);  
        opacity: 1;
    }
}

@-moz-keyframes moveDown{
    0% { 
        -moz-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -moz-transform: translateY(0px);  
        opacity: 1;
    }
}

@-o-keyframes moveDown{
    0% { 
        -o-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -o-transform: translateY(0px);  
        opacity: 1;
    }
}

@-ms-keyframes moveDown{
    0% { 
        -ms-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -ms-transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

.content p {
    position: absolute;
    text-align: center;
    font-size: 25px;
    line-height: 36px;
    color: #8b8b8b;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 50%;
    margin: 0px 0 0 0;
}

#content-pos-1:checked ~ .scroll #content-1 p,
#content-pos-2:checked ~ .scroll #content-2 p,
#content-pos-3:checked ~ .scroll #content-3 p,
#content-pos-4:checked ~ .scroll #content-4 p,
#content-pos-5:checked ~ .scroll #content-5 p{
    -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
    0% { 
        -webkit-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px);  
        opacity: 1;
    }
}

@-moz-keyframes moveUp{
    0% { 
        -moz-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -moz-transform: translateY(0px);  
        opacity: 1;
    }
}

@-o-keyframes moveUp{
    0% { 
        -o-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -o-transform: translateY(0px);  
        opacity: 1;
    }
}

@-ms-keyframes moveUp{
    0% { 
        -ms-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -ms-transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveUp{
    0% { 
        transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

/* Inverse Coloring */
 
.colored,
.top-triangle{
    background: #7CC2E0;
}
.colored .top-triangle {
    background: #fff;
}
.colored h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 
.colored p {
    color: rgba(255,255,255,0.8);
}

/* Responsive Elements */

@media screen and (max-width: 520px) {
    .content h2 {
        font-size: 42px;
    }
     
    .content p {
        width: 90%;
        left: 5%;
        margin-top: 0;
    }
     
    .container> a {
        font-size: 13px;
    }
}
 
@media screen and (max-width: 360px) {
    .container > a {
        font-size: 10px;
    }
     
    .top-triangle{
        width: 120px;
        height: 120px;
        margin-left: -30px;
    }
     
}