.title {
    font-size: 40px;
    padding: 20px;
}

.name {
    font-size: 20px;
}



body {
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center
}

a {
    color: gray; 
    text-decoration: none;
}

a:hover {
    color: red;
}


